$basicDarkColor: #332d2d;
$basicDarkColorHovered: #636363;
$basicLightColor: #dddddd;
$basicLightColorHovered: #f4f4f4;
$brandColor: #FF701A;
$altLight: #898686;
$codeBackground: #F1F1F1;
$codeColor: #4D4848;
$white: #FFFFFF;
$black: #000000;
$gridWidth: 114rem;
$gutterVertical: 3rem;
$gutterVerticalSmall: 2rem;
$gutterHorizontal: 3rem;
