.blog-header {
    position: relative;
    border-bottom: 5px solid $basicDarkColor;

    &__content {
        position: absolute;
        top: 75%;
        transform: translateY(-25%);
        width: 100%;
    }
}