.generic-content-container {
  line-height: 1.6;
  font-size: 1.6rem;

  .code {
    background-color: $codeBackground;
  }

  pre {
    overflow-y: auto;
    margin: 1rem;
    padding: 1rem;
    background-color: $codeBackground;
    border-left: solid 4px $codeColor;
    color: $codeColor;
    line-height: 1.4;
  }

  code {
    background-color: $codeBackground;
  }

  input[type="text"],
  input[type="search"],
  textarea {
    background-color: $basicLightColor;
    border: 1px solid $altLight;
    border-radius: 3px;
    padding: 0.8rem;
    width: 100%;
  }

  textarea {
    resize: none;
  }
}
