.scroll-to-top {
  position: fixed;
  bottom: 1.6rem;
  right: 1.6rem;
  display: none;
  height: 6rem;
  width: 6rem;
  opacity: .8;
  fill: $brandColor;

  &--displayed {
    display: block;
    cursor: pointer;
  }
}
