.searchform {
  padding: 2rem;
  position: relative;

  &__submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.6rem;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;

    .icon--magnifying-glass {
      width: 3.2rem;
      height: 3.2rem;
      fill: $altLight;
    }
  }

}
