.first-block {
  position: relative;
  border-bottom: 5px solid $basicDarkColor;

  &__text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    backface-visibility: hidden;
  }

  &__title, &__subtitle, &__description {
    color: $basicLightColor;
  }

  &__title, &__subtitle {
    display: block;
    font-weight: 300;
    margin: 0;
  }

  &__title {
    animation: moveInLeft 1s ease-out;
    font-size: 7rem;
  }

  &__subtitle {
    animation: moveInRight 1s ease-out;
    font-size: 4rem;
  }

  &__description, &__btn {
    animation: moveInBottom .5s ease-out 1s;
    animation-fill-mode: backwards;
  }

  &__description {
    font-size: 1.6rem;
    margin: 2.4rem 0;
    max-width: 54.4rem;
    margin-left: auto;
    margin-right: auto;
  }
}
